<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Usuarios</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"></link>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cadastro de Usuarios</strong>
		</div>
		<div class="panel-body" style="position: relative; left: 30%; border-radius: 2px; box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.75);width: 40%;margin: 30px;">
			<form class="form-horizontal" th:object="${usuario}" th:action="@{/save}" method="POST" style="margin: 10px">
				<div class="form-group">
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-12">
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-12" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
							    <label>Username</label>
							    <span class="input-group-addon"><i class="glyphicon glyphicon-user"/></span>
							    <input type="text" class="form-control" th:field="*{username}" autofocus="autofocus" placeholder="Type the Username" maxlength="50"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
								<label>Password</label>
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"/></span>
								<input type="text" class="form-control" th:field="*{password}" maxlength="12" placeholder="Type the password"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12" th:classappend="${#fields.hasErrors('isEnable')}? 'has-error'">
								<label>Enable?</label>
								<input type="checkbox" class="form-control input-sm" th:field="*{isEnable}" style="width: 10px;"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12" th:classappend="${#fields.hasErrors('registerDate')}? 'has-error'">
								<label>Register Date</label> 
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"/></span>
								<input type="date" class="form-control input-sm" th:field="*{registerDate}"/>
							</div>
						</div>	
						<div class="form-group row">
							<div class="col-md-12" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
								<label>Name</label>
								<span class="input-group-addon"><i class="glyphicon glyphicon-tag"/></span>
								<input type="text" class="form-control input-sm" th:field="*{name}" maxlength="75" placeholder="Type the Name"/>
							</div>
						</div>	
						<div class="form-group row">
							<div class="col-md-12" th:classappend="${#fields.hasErrors('surname')}? 'has-error'">
								<label>Surname</label>
								<span class="input-group-addon"><i class="glyphicon glyphicon-tag"/></span>
								<input type="text" class="form-control input-sm" th:field="*{surname}" maxlength="75" placeholder="Type the surname"/>
							</div>
						</div>	
						<div class="form-group row">
							<div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
								<label>Email</label>
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"/></span>
								<input type="text" class="form-control input-sm" th:field="*{email}" maxlength="50" placeholder="Type the Email"/>
							</div>
						</div>	
						<div class="form-group row">
							<div class="col-md-12" th:classappend="${#fields.hasErrors('phone')}? 'has-error'">
								<label>Phone Number</label>
								<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"/></span>
								<input type="text" class="form-control input-sm" th:field="*{phone}" maxlength="12" placeholder="Type the phone"/>
							</div>
						</div>
				</div>
				<div class="form-group row" style="padding-left: 41%;" >
					<button type="submit" class="btn btn-primary" ><span class="glyphicons glyphicons-ok"/>Save</button>
					<a th:href="@{/}" class="btn btn-default">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>